<li role="presentation"><a href="#doiArticle" aria-controls="messages" role="tab" data-toggle="tab">{{ "stats.doi"|trans }} ({{ "article"|trans }})</a></li>
<li role="presentation"><a href="{{ path('bulut_yazilim_doi_stats_journal') }}">{{ "stats.doi"|trans }} ({{ "journal"|trans }})</a></li>

