{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'doi.config.title'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index'), 'title': 'dashboard'|trans},
    {'title': 'doi.config.title'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}

    <h1>{{ 'doi.config.title'|trans }}</h1>
    {{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.prefix) }}

    {{ form_row(form.suffix) }}
    <ul>
        {% for key, description in suffixMapping %}
            <li><strong>{{ key }}</strong>: {{ description|trans }}</li>
        {% endfor %}
    </ul>




    {{ form_end(form) }}
    <hr/>

    {{ getLogs(entity) }}

{% endblock %}
